{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur Bucket-List</h1>
        <br>
        <p>Ceci est le block body</p>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
    </div>
{% endblock %}
